.ipynb_checkpoints
__pycache__/
models
**/weights1
**/results_1f
**/results_2f
**/results_2f_2
**/results_2f_3
**/results_merge
**/results_merge_2
**/results_merge_3
**/results_dist
**/results_FEM
**/results_rand
**/results_rand4
**/results_rand5
**/results_rand_test
**/results_rand_6
**/results_rand_7
**/results_matlab
**/plots
**/best
**/wandb
**/just_unn_matlab_test
**/vit_matlab_test_200
neural_network/custom_layers.py
neural_network/resnet_backbone.py
neural_network/testUNN.py
neural_network/testViT.py
neural_network/testPVT.py
neural_network/DPT.ipynb
neural_network/image_classification_vit.ipynb